
.thumbnail img{
	width:100%;
}
.thumbnail {
	padding:0;
}
.thumbnail .caption-full{
	padding:9px;
}
#delete-form{
	display: inline;
}
#heading{
	text-align: center;
	
}
#sty{
	font-family: cursive;
}
#pad{
	padding-top:5px;
	
}
#cen{
	text-align: center;
	
}
#df{
	color:  #f8ce0b;
}
